In [32]:
import pandas as pd
import datetime

data = pd.read_csv("datalab.csv", encoding = 'cp949', sep=",")
data.head()

           날짜       전기차
0  2020-04-30  26.73985
1  2020-05-01  25.52712
2  2020-05-02  25.43984
3  2020-05-03  28.94482
4  2020-05-04  27.47484

In [33]:
data.columns = ['date', 'percentage']
data.head()

         date  percentage
0  2020-04-30    26.73985
1  2020-05-01    25.52712
2  2020-05-02    25.43984
3  2020-05-03    28.94482
4  2020-05-04    27.47484

In [34]:
#주말 / 공휴일 / 마감장 조정
def rearrange(df) :
    date = datetime.datetime.strptime(df['date'], "%Y-%m-%d")
    
    #공휴일
    if date == datetime.datetime(2020, 9, 30) :
        return date + datetime.timedelta(days=5)
    elif date in [datetime.datetime(2020, 10, 1), datetime.datetime(2020, 12, 31), datetime.datetime(2021, 2, 11)] : 
        return date + datetime.timedelta(days=4)
    elif date in [datetime.datetime(2020, 5, 1), datetime.datetime(2020, 8, 15), datetime.datetime(2020, 10, 2), datetime.datetime(2020, 10, 9), datetime.datetime(2020, 12, 25), datetime.datetime(2021, 1, 1), datetime.datetime(2021, 2, 12)] :
        return date + datetime.timedelta(days=3)
    elif date == datetime.datetime(2020, 8, 16) :
        return date + datetime.timedelta(days=2) 
    elif date in [ datetime.datetime(2020, 5, 5), datetime.datetime(2020, 8, 17), datetime.datetime(2021, 3, 1)] : 
        return date + datetime.timedelta(days=1)
    #주말
    elif date.weekday() == 6 :  #일요일
        if date == datetime.datetime(2021, 2, 28) : return date + datetime.timedelta(days=2)
        else : return date + datetime.timedelta(days=1)
    elif date.weekday() == 5 : #토요일
        if date == datetime.datetime(2021, 2, 27) : return date + datetime.timedelta(days=3)
        else : return date + datetime.timedelta(days=2)
    return date

data['date'] = data.apply(rearrange, axis=1)
data

          date  percentage
0   2020-04-30    26.73985
1   2020-05-04    25.52712
2   2020-05-04    25.43984
3   2020-05-04    28.94482
4   2020-05-04    27.47484
..         ...         ...
361 2021-04-26    35.78023
362 2021-04-27    33.99788
363 2021-04-28    32.78515
364 2021-04-29    31.71941
365 2021-04-30    30.09784

[366 rows x 2 columns]

In [35]:
def calc(df) :
    criteria = float(data['percentage'][365]) / 100
    return int(float(df['percentage']) / 100 * 5800 / criteria)

data['percentage'] = data.apply(calc, axis=1)
data

          date  percentage
0   2020-04-30        5152
1   2020-05-04        4919
2   2020-05-04        4902
3   2020-05-04        5577
4   2020-05-04        5294
..         ...         ...
361 2021-04-26        6895
362 2021-04-27        6551
363 2021-04-28        6317
364 2021-04-29        6112
365 2021-04-30        5800

[366 rows x 2 columns]

In [36]:
data_today = data.groupby('date').sum()
data_today.drop([datetime.datetime(2020, 4, 30)], axis=0, inplace = True)
data_today

            percentage
date
2020-05-04       20692
2020-05-06       10583
2020-05-07        4945
2020-05-08        4789
2020-05-11       17325
...                ...
2021-04-26       20640
2021-04-27        6551
2021-04-28        6317
2021-04-29        6112
2021-04-30        5800

[248 rows x 1 columns]

In [37]:
def tomorrow(df) :
     return df['date'] + datetime.timedelta(days=1)

data['date'] = data.apply(tomorrow, axis=1)
data

          date  percentage
0   2020-05-01        5152
1   2020-05-05        4919
2   2020-05-05        4902
3   2020-05-05        5577
4   2020-05-05        5294
..         ...         ...
361 2021-04-27        6895
362 2021-04-28        6551
363 2021-04-29        6317
364 2021-04-30        6112
365 2021-05-01        5800

[366 rows x 2 columns]

In [39]:
data_tomorrow = data.groupby('date').sum()
data_tomorrow.drop([datetime.datetime(2021, 5, 1)], axis=0, inplace = True)
data_tomorrow

            percentage
date
2020-05-01        5152
2020-05-05       20692
2020-05-07       10583
2020-05-08        4945
2020-05-09        4789
...                ...
2021-04-24        6873
2021-04-27       20640
2021-04-28        6551
2021-04-29        6317
2021-04-30        6112

[248 rows x 1 columns]

In [40]:
data_today.to_csv("datalab.csv")

In [41]:
data_tomorrow.to_csv("datalab_shift.csv")